<template name='about'>
<div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel blog-article-box">
                    <div class="panel-heading">
                        <h1>The Market for Instagram Influencers</h1>
                        <small>I collected some data at work and calculated how much your account is worth, per post, on Instagram.</small>
                        <div class="text-muted small">
                            Written by: <a href="https://ca.linkedin.com/in/davidhurley1"><span class="font-bold">David Hurley</span></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                           I work for a startup called <a href="http://www.hashtagpaid.com">#paid</a> and we are building a marketplace for Instagram influencers. Believe it or not, if your famous on Instagram, there are businesses willing to pay you to post about them. I’m sure you’ve already seen these types of ads in your feed but if you haven’t here’s an example,
                        </p>
                        <br/>
                        <blockquote>
                            <p><a href="https://instagram.com/p/4zxwt8t5yK/">Tilt ad created by @torriwebster.</a></p>
                        </blockquote>
                        <br/>
                        <p>
                            <a href="https://www.tilt.com/">Tilt</a> paid @torriwebster to post this in an stragtegic attempt to gain followers. Take a look at Tilt's <a href="https://instagram.com/explore/tags/gettilted/">#getTILTED</a> hashtag. They use this to create a following in order to boost their own account. If you look through that hashtag you won't see another post with over 1,000 likes. @torriwebster was able to get over 12,000 likes or in other words, she was able to introduce #getTILTED to over 12,000 new people.
                        </p>
                        <br/>

                        <p>
                            I won't tell you how much @torriwebster was paid to do this but our team facilated the deal. We made the introduction, put her and Tilt in a chat room, and they figured out the rest. Tilt pays us and we in turn, pay our influencer. The only hard part in this process is determining how much an influencer should charge in the first place. 
                        </p>
                        <br/>
                        <p>
                            When influencers sign up to our platform most don't really know how much they are worth. For the last year we've been manually helping them determine this. By 'manually' I mean we have two members on our team, <a href="https://instagram.com/yourgirlmax/">@yourgirlmax</a> and <a href="https://instagram.com/lifewithpedro/">@lifwithpedro</a>, help them figure it out. They told me their value depends on their followers and engagement. Let me be clear,
                        </p>
                        <br/>
                        <blockquote>
                            <p>There's a relationship between value, followers, likes and comments.</p>
                        </blockquote>
                        <br/>

                        <p>
                            Followers, likes and comments are all public information so that's easy to get. It's harder to get value per paid post but #paid has been collecting that data for awhile now, data which I was able to collect from our database. I put all the data into Excel doc and started trying to pin down some sort of relationship.
                        </p>
                        <br/>
                        <p>
                            Without getting too technical there does exist a postive logarithmic relationship between comments, likes, followers and how much an influencer charges on our platform. If you want to get some specfics on this statistical analysis feel free to shoot me an email at dhurley@hashtagpaid.com.
                        </p>
                        <br/>
                        <p>
                            Now that I had a formula to work with I decided it would make sense to test it with the app your using right now. To all my developer friends,
                        </p>
                        <br/>
                        <blockquote>
                            <p><a href="https://github.com/hurley87/hurlzzz">the code is public on Gitub</a></p>
                        </blockquote>
                        <br/>
                        <p>
                            We don't know all the relevant variables yet but that's what makes this fun, the path to discovery. We are in the process of collecting more data on both sides of the market to optimize the current algorithm and I guarantee it'll be different then the one your seeing now. If you have any ideas about the work we are doing or if you'd like to help send me an email.
                        </p>
                        <br/>
                        <p>    
                            We may never figure out how much your worth on Instagram but there are two things I do know - if you like a business, don’t be afraid to promote it on Instagram and if you represent a business, start figuring out a cool way to leverage this kind of value. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>	