<template name='about'>
<div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel blog-article-box">
                    <div class="panel-heading">
                        <h1>The market for Instagram influencers.</h1>
                        <small>I collected some data at work and calculated how much your account is worth, per post, on Instagram.</small>
                        <div class="text-muted small">
                            Written by: <a href="https://ca.linkedin.com/in/davidhurley1"><span class="font-bold">David Hurley</span></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            Maecenas placerat facilisis interdum. Mauris eu dolor nisi. Suspendisse ullamcorper purus nec nibh maximus, ut sollicitudin enim venenatis.
                            Nullam interdum, odio sit amet dapibus mollis, ligula diam pretium sapien, eget suscipit felis ipsum sed lorem. <br/>
    
                        </p>
                        <br/>
                        <blockquote class="pull-left" style="max-width: 250px">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </blockquote>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                            some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum...
                        </p>
                        <br/>

                        <p>
                            Duis rutrum felis at lorem scelerisque, vel iaculis risus viverra. Integer sed gravida libero. Maecenas sit amet lacus et erat rhoncus sodales quis non nunc. Morbi in
                            mattis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus bibendum posuere sapien eget vehicula. Nulla sit amet
                            laoreet ante, sed ornare mauris. In interdum ex et leo suscipit sagittis. Pellentesque ac eleifend quam. Nam eu lacinia lacus. Vestibulum lacinia nisl lectus, fringilla
                            molestie diam imperdiet dignissim.
                        </p>
                        <br/>
                        <blockquote class="pull-right" style="max-width: 250px">
                            <p>Fusce ac tellus eu nisl lobortis maximus</p>
                        </blockquote>
                        <p>
                            Praesent eget euismod nibh. Fusce ac tellus eu nisl lobortis maximus ac eget sapien. Nulla malesuada mauris non nulla imperdiet ullamcorper.
                        </p>
                        <br/>

                        <p>
                            Sed porta libero metus, nec feugiat enim pharetra vel. Sed vel sagittis augue. Donec hendrerit nibh ac dolor lobortis, eu varius odio sollicitudin. Proin non condimentum
                            nulla, quis dictum leo. Vestibulum lobortis urna eu mauris viverra porttitor. Cras consequat leo condimentum lacus viverra sollicitudin. Donec dignissim ornare est, nec
                            scelerisque purus mollis eu. Phasellus dictum suscipit ligula. Donec malesuada gravida velit. Nulla egestas diam in ligula mollis, nec tincidunt diam porta. Proin eleifend
                            lacinia diam quis pretium. Sed lacinia varius nisi et euismod. Ut ac arcu vulputate, porta nibh non, ultricies erat. Nulla facilisi.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>	