<template name='faq'>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Am I really worth that much on Instagram?</h2>
                                    <p>
                                        It's a rough idea on how much your worth based on data from the <a href="https://www.hashtagpaid.com/">#paid</a> influencer market place. 
                                    </p>
                                    <p>Your only worth what a business is willing to pay you to post about them.</p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you get my Instagram data?</h2>
                                    <p>When you sign up with your Instagram account, Instagram gives me access to your data.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average likes?</h2>
                                    <p> I take your last 20 posts and add up all the likes. I then take that total and devide by 20. Pretty sophisticated stuff.   
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average comments?</h2>
                                    <p>I do the same thing as likes, only with comments. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                               <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average engagement?</h2>
                                    <p>I add your average comments and average likes.</p>
                                    <p> I'm thinking about giving more weight to comments only because I feel like comments offer more value. It takes times time to write a comment and often, people will tag other people in a comment which adds another impression. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container" >
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is engagement growth?</h2>
                                    <p>I use likes and comments to determine your engagment. I'll then track this over to time to see if your accout is improving or not. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is follower growth?</h2>
                                    <p>I'll track how many people are following you over time. The rate at which people follow you is more interesting the the number of people that follow you. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the influencer worth algorithm?</h2>
                                    <p>There is a relationship between your likes, comments, followers, and how much a business would be willing to pay you to post on their behalf.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the market for Instagram influencers?</h2>
                                    <p>Right now businesses(buyers) are paying Instagrammers(sellers) to market their product or service through an Instagram post.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment blueText"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Where are you taking this project?</h2>
                                    <p>I'll continue to gather feedback and look at data. There's an invisible hand dictating market value for an Instagrammer. With data we can shed some light on post value and offer insight into an exciting new marketplace. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
        </div>

    </div>
</template>	