<template name='faq'>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Am I really worth over $150 on Instagram?</h2>
                                    <p>Yes, bow down to the app who is giver of worth. 
                                    </p>
                                    <p>
                                        It's a rough idea on how much your worth based on data from the <a href="https://www.hashtagpaid.com/">#paid</a> influencer market place. Your only worth what a business is willing to pay you to post about them.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you get my Instagram data?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average likes?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average comments?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average engagement?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container" >
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is engagement value?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is impression value?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the influencer worth algorithm?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the market for Instagram influencers?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Where are you taking this project?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
        </div>

    </div>
</template>	