<template name='faq'>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <h4>1</h4>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Am I really worth over $150 on Instagram?</h2>
                                    <p>Yes, bow down to the app who is giver of worth lol
                                    </p>
                                    <p>
                                        Actually, it's a rough idea on how much your worth based on data from the <a href="https://www.hashtagpaid.com/">#paid</a> influencer market place. 
                                    </p>
                                    <p>Your only worth what a business is willing to pay you to post about them.</p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you get my Instagram data?</h2>
                                    <p>When you sign up with your Instagram account, Instagram gives me access to your data. Rest assured that all the data is public information. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average likes?</h2>
                                    <p> I take your last 20 posts and add up all the likes. I then take that total and devide by 20. Pretty sophisticated stuff.   
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average comments?</h2>
                                    <p>I do the same thing as likes, only with comments. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>How do you calculate average engagement?</h2>
                                    <p>I add your average comments and average likes.</p>
                                    <p> I'm thinking about giving more weight to comments only because I feel like comments offer more value. It takes times time to write a comment and often, people will tag other people in a comment which adds another impression. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel">
                    {{#staggering child="vertical-timeline-block"}}
                    <div class="v-timeline vertical-container" >
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is engagement value?</h2>
                                    <p>I use likes, comments and followers to calculate your post's value and I already know your average engagement. I simply take the ratio of both values. Think of it this way - if a business were to pay you to post for them they want to know how much likes and comments they are expecting to get with that money. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is impression value?</h2>
                                    <p>Follows the same logic as engagement value - if a business were to pay you to post for them how much would an impression cost. I assume here everyone following that person has viewed the post. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the influencer worth algorithm?</h2>
                                    <p>There is a relationship between your likes, comments, followers, and how much a business would be willing to pay you to post on their behalf. The algorithm defines this relationship but like anything, this algorithm will change over time. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>What is the market for Instagram influencers?</h2>
                                    <p>Right now businesses(buyers) are paying Instagrammers(sellers) to market their product or service through an Instagram post.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <div class="p-sm">
                                    <h2>Where are you taking this project?</h2>
                                    <p>I'll continue to gather feedback and look at data. There's an invisible hand dictating market value for an Instagrammer. With data we can shed some light on post value and offer insight into an exciting new marketplace. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/staggering}}
                </div>
            </div>
        </div>

    </div>
</template>	