<template name="layout">    
        {{> header }}
        {{> navigation }}
        {{> leaderboardModal}}
    <div id="wrapper">
        {{> yield}}
    </div>
</template>
<template name='leaderboardModal'>
  <div class="modal fade in" id="leaderboardModal" tabindex="-1" role="dialog" aria-hidden="false">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="color-line"></div>
              <div class="modal-header text-center">
                  <h4 class="modal-title">Leaderboard</h4>
                  <small class="font-bold"><span class="label label-success"><i class='fa fa-lock'></i></span> Locked now but not forever.  
                  </small>
              </div>
              <div class="modal-body">
                  <p> Sign up takes about 3 minutes. I actually timed a friend of mine that finished signing up in less then 57 seconds.</p>

                  <p> Once you finish signing up I'll send you the secret password to the email you provide.</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Close
                  </button>
              </div>
          </div>
      </div>
  </div>  
</template>  
