.myNav {
	width: 100%;
	color: white;
	height: 55px;
	background-color: #303232 !important;
	position: fixed;
	top: 0;
	z-index: 4;
}


#myMenu {
	cursor: pointer;
}

.fa-search:hover, .fa-bars:hover {
	color: #3498db;
}

#mySearch {
	cursor: pointer;
}


