.myNav {
	width: 100%;
	color: white;
	height: 55px;
	background-color: #303232 !important;
	position: fixed;
	top: 0;
	z-index: 4;
}


#myMenu {
	cursor: pointer;
}

#mySearch {
	cursor: pointer;
}

.leftNav {
	position: absolute;
	left: 0;
	top: 0px;
	height: 100%;
	width: 44px;
	background-color: #3498db;
	z-index: 3;
	opacity: 0.1;
	transition: 1s all ease;
}

.leftNav:hover {
	opacity: 0.6;
	cursor: pointer;
}

.rightNav {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 44px;
	background-color: #3498db;
	z-index: 3;
	opacity: 0.1;
	transition: 1s all ease;
}

.rightNav:hover {
	
	opacity: 0.4;
	cursor: pointer;
}

@media (max-width: 480px) {
	.rightNav, .leftNav {
		display: none;
	}
}