<template name="layout"> 
    {{> myNav}}
    <div class="snap-content">
    	<div style='padding-top: 100px;' class="col-md-10 col-md-offset-1">
          {{> yield}}
     	</div>
    </div>
</template> 

<template name='myNav'>
  <div class='myNav' style='padding: 0px 10px;'>
    <div class='row'>
      <div class='col-md-2 col-xs-2'>
        <h2 class='pull-left white'><a class='white' href="/">#ignition</a></h2>
      </div>
      <div class='col-md-8 col-xs-8'>
        <h2 class='text-center'></h2>
      </div>
      <div class='col-md-2 col-xs-2'>
          <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
                  <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    {{#if currentUser}}
                      <i class="fa fa-user"></i>
                    {{else}}
                      <i class="fa fa-bars"></i>
                    {{/if}}  
                  </a>
                  <ul class="dropdown-menu hdropdown animated flipInX">
                      {{#if currentUser}}
                      <li>
                          <a href='/{{currentUser.profile.username}}'>
                              Profile
                          </a>
                      </li>
                      <li>
                        <a href="/blog/new">
                          New Post
                        </a>
                      </li>
                      {{else}}
                      <li>
                          <a href='/'>
                              Home
                          </a>
                      </li>
                      <li>
                        <a class='insta'>
                          Sign Up
                        </a>
                      </li>
                      {{/if}}
                      <li>
                          <a href='/blog'>
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href='/search'>
                              Search
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
  </div>
</template>
