<template name='contact'>
  <h1 class='title font-extra-bold text-center' style=''>Contact</h1>
  <div class="container">
      <div class="row text-center">
          <div class="col-md-6 col-md-offset-3">
              <p style=''>
                  Want to boost your Instagram account? We can help you generate a loyal and engaged audience the right way. Contact us for a free consultation.
              </p>
          </div>
      </div>
      <div class="row text-center m-t-lg">
          <div class="col-md-4 col-md-offset-4">
            {{> contactForm}}
          </div>
      </div>
  </div>  
</template> 

<template name='contactForm'>
  <form id='create' class="form-horizontal" role="form" method="post" action="#"  data-snap-ignore="true">
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Name</label>
          </div>
          <div class="col-sm-12 m-t-xs">
              <input type="text" class="form-control" id="name" name="name" placeholder="Your full name" value="">
          </div>
      </div>
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Email</label>
          </div>
          <div class="col-sm-12">
              <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="" required='required'>
          </div>
      </div>
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Question</label>
          </div>
          <div class="col-sm-12">
              <textarea id='message' class="form-control" rows="3" name="message"  placeholder="Your question here..."></textarea>
          </div>
      </div>
      <br>
      <div class="form-group">
          <div class="col-sm-12">
              <input id="submit" name="submit" type="submit" value="Send us a message" class="newBtn">
          </div>
      </div>
  </form>
</template>