<template name="header">
    <div id="header">
        <div class="color-line">
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i> Menu</div>
            {{#if currentUser}}
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a href="#">
                            <i id='logout' class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
            {{/if}}
        </nav>
    </div>
</template>