<template name="header">
    {{#if currentUser}}
    <div id="header">
        <nav role="navigation wrapper">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i> Menu</div>
            <div class='text-center pull-left'>
               <p style='padding-top: 5px; padding-left: 10px;'><a href="/"> <img src="/logo.png" height='50'></a></p>
            </div>            
            <div class="navbar-right tool-tip">
                {{#if search}}
                <a href="/" style='line-height: 52px; margin-right: 10px;' class='pull-left'><span class='btn btn-success'>Profile</span></a>              {{else}}
                <a href="/search" style='line-height: 52px; margin-right: 10px;' class='pull-left'><span class='btn btn-success'>Search</span></a>
                {{/if}}
                <ul class="nav navbar-nav no-borders">
                    <li>
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-user"></i>
                        </a>
                        <ul class="dropdown-menu hdropdown notification animated flipInX">
                            <li>
                                <a href='/edit'>
                                     Edit Profile
                                </a>
                            </li>                                                                            
                            <li>
                                <a href='/about'>
                                     About
                                </a>
                            </li>
                            <li>
                                <a href='/faq'>
                                     FAQ
                                </a>
                            </li>
                        
                        </ul>
                    </li>                    
                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner animated" href="#" data-toggle="dropdown">
                            <i class="pe-7s-speaker"></i>
                            <span class="label label-success">{{requestCount}}</span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            {{#each requests}}
                               <li><a href="/{{send.profile.username}}">@{{send.profile.username}} <span class='text-success'>${{send.profile.data.postValue}}</span></a> <button class='btn btn-sm btn-success accept'>Accept</button> <button class='btn btn-outline btn-sm btn-success reject'>Reject</button></li>
                            {{/each}}
                            {{#if noRequests}}
                            <li>0 chat requests</li>
                            {{/if}}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                            <i class="pe-7s-mail"></i>
                            <span class="label label-success">{{chatCount}}</span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            {{#each chats}}
                            <li>{{> quickChat}}</li>
                            {{/each}}
                            {{#if noChats}}
                            <li>0 open chats</li>
                            {{/if}}
                        </ul>
                    </li>  
                    <li class="dropdown">
                        <a href="#">
                            <i id='logout' class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>                  
                </ul>
            </div>
            
        </nav>
    </div>
    {{/if}}
</template>

<template name='quickChat'>
    <a href="/{{user.profile.username}}">
        {{#if online}}
        <span class='label label-success'>Online</span>
        {{else}}
        <span class='label backRed'>Offline</span>
        {{/if}}
        {{user.profile.username}} <span class='text-success'>${{user.profile.data.postValue}}</span>
    </a>
</template>