<template name="navigation">
    <aside id="menu">
        <div id="navigation">
            <ul class="nav" id="side-menu">
                {{#if currentUser}}
                <li >
                    <a href="/{{currentUser.profile.username}}"> <span class="nav-label">Profile</span></a>
                </li>
                {{else}}
                <li >
                    <a href="/"> <span class="nav-label">Home</span></a>
                </li>
                {{/if}}
                {{#if currentUser}}
                <li>
                    <a href='/edit'> <span class="nav-label">edit</span> </a>
                </li>
                <li>
                    <a href="/explore"><span class="nav-label">Explore</span></a>
                </li>
                {{/if}}
                <li>
                    <a href="{{pathFor route='about'}}"> <span class="nav-label">About</span></a>
                </li>
                <li>
                    <a href="{{pathFor route='faq'}}"> <span class="nav-label">FAQ</span></a>
                </li>
            </ul>
        </div>
    </aside>
</template>