<template name="infiniteSearch">
	<div class='row m-b-xl'>
		<div class='col-md-2 col-xs-12'>
			<h1 style='margin-top: 0;' class='text-success text-right'>${{gt}}</h1>
		</div>
		<div class='col-md-8 col-xs-12 m-t-sm m-b-md'>
			<div id='range'></div>
		</div>
		<div class='col-md-2 col-xs-12'>
			<h1 style='margin-top: 0;' class='text-success text-left'>${{lt}}</h1>
			
		</div>
	</div>
	<div class='row m-t-xxl'>
		{{#each users}}
			<div class='col-md-3'>
				{{> thisUser}}
			</div>
		{{/each}}
	</div>
  	{{#if moreResults}}
	    <button class='newBtn loadMore m-b-xxxl'>Load More</button>
	{{/if}}
</template>

<template name='thisUser'>
	<a href="/{{profile.username}}"><div class="hpanel hblue contact-panel">
	    <div class="panel-body" style='height: 210px;'>
	        <img alt="logo" class="img-circle m-b" src="{{profile.profile_picture}}">
	       	<h1 style='margin-top: 0;' class='pull-right text-success'>${{profile.data.postValue}}</h1>
	        <h5>@{{profile.username}}</h5>
	        <p style='color: black;'>
	            {{profile.bio}}
	        </p>
	    </div>
	    <div class="panel-footer contact-footer">
	        <div class="row">
	            <div class="col-md-6 border-right"> <div class="contact-stat"><span>Followers </span> <strong>{{profile.stats.followed_by}}</strong></div> </div>
	            <div class="col-md-6"> <div class="contact-stat"><span>Avg Likes: </span> <strong>{{profile.data.avgLikes}}</strong></div> </div>
	        </div>
	    </div>
	</div></a>
</template>

