<template name='dashboard'>
    {{#if currentUser }}
      {{> profile}}
    {{else}}
      {{> hey}}
    {{/if}}
</template>

<template name='loading'>
  {{> spinner}}
</template> 

<template name='profile'>
  <div class='content'>
    <div class='row'>
      <div class='col-lg-4 col-md-4'>
        <a href="/explore" style='color: white;'>
            <div class="hpanel hbggreen contact-panel" >
                <div class="panel-body text-center">
                    <h3 class='font-light'> Explore</h3>
                </div>
            </div>
        </a> 
        {{> myStats}}
      </div>
      <div class='col-lg-8'>
        {{> analytics}}
      </div>
      <div class='col-lg-4'>
        {{> followers}}
        {{> following}}
      </div>
      <div class='col-lg-4 col-md-4'>
        {{> gallery}}
      </div>
    </div>  
  </div>
</template>

<template name='followers'>
  {{#panel panelClass="stats tour5" color="hblue"}}
  <div class="stats-title pull-left">
      <h4><a href="/faq">Igniters Your Following <i class="fa fa-question-circle"></i></a></h4>
      <p><a href="/explore"><button class='btn btn-success btn-outline'>search igniters</button></a></p>
  </div>
  {{/panel}}
</template>  

<template name='following'>
  {{#panel panelClass="stats tour5" color="hblue"}}
      <div class="stats-title pull-left">
        <h4><a href="/faq">Igniters Following you <i class="fa fa-question-circle"></i></a></h4>
      </div>
  {{/panel}}    
</template>  

<template name='myStats'>
      <div class="hpanel hblue">
          <div class="panel-body tour1">
              <div class="pull-right text-right">
                <small>Your Instagram is worth</small>
                <h1 class='font-extra-bold text-success value-text'>${{user.data.postValue}}</h1>
                <small><a href="/faq">per post <i class="fa fa-question-circle"></i></a></small>
    
              </div>
              <img alt="logo" class="img-circle m-b" src="{{user.profile_picture}}">
              <h3><a href="">{{user.full_name}}</a></h3>
              <div class="text-muted font-bold m-b-xs"></div>
              <p>
                 {{user.bio}}
              </p>
          </div>
          <div class="panel-body tour7">
            <p>A {{age}} year old {{user.other.gender}} living in {{user.other.city}}, {{user.other.country}}.</p>
          </div>
          <div class="panel-footer contact-footer">
              <div class="row tour2">
                  <div class="col-md-4 border-right">
                      <div class="contact-stat"><span>Posts: </span> <strong>{{user.stats.media}}</strong></div>
                  </div>
                  <div class="col-md-4 border-right">
                      <div class="contact-stat"><span>Followers: </span> <strong>{{user.stats.followed_by}}</strong></div>
                  </div>
                  <div class="col-md-4">
                      <div class="contact-stat"><span>Following: </span> <strong>{{user.stats.follows}}</strong></div>
                  </div>
              </div>
          </div>
      </div>
      {{#panel panelClass="stats tour5" color="hblue"}}
        <div class="stats-title pull-left">
            <h4><a href="/faq">Average Engagement <i class="fa fa-question-circle"></i></a></h4>
        </div>
        <div class="stats-icon pull-right textYellow">
            <i class="pe-7s-gleam fa-4x"></i>
        </div>
        <div class="m-t-xl">
            <h1 class="textYellow">{{user.data.engagement}}</h1>
        </div> 
      {{/panel}}
      {{#panel panelClass="stats tour6"  color="hblue"}}
          <div class="stats-title pull-left">
              <h4><a href="/faq">Consistency <i class="fa fa-question-circle"></i></a></h4>
          </div>
          <div class="stats-icon pull-right textOrange">
              <i class="pe-7s-graph1 fa-4x"></i>
          </div>
          <div class="m-t-xl">
              <h1 class="textOrange">+/- {{user.data.consistency}} <small  class="textOrange">likes</small></h1>
          </div> 
      {{/panel}}
      {{#panel panelClass="stats tour6"  color="hblue"}}
          <div class="stats-title pull-left">
              <h4><a href="/faq">Follower Growth <i class="fa fa-question-circle"></i></a></h4>
          </div>
          <div class="stats-icon pull-right textOrange">
              <i class="pe-7s-look fa-4x"></i>
          </div>
          <div class="m-t-xl">
              <h1 class="textOrange">$300</h1>
          </div> 
      {{/panel}}            
</template>   

<template name='analytics'>
  <div class="col-lg-12">
    <div class="hpanel hblue tour4">
      {{#panel footerRight="Last update: 21.05.2015" }}
          <div class="row">
              <div class="col-md-3 text-center">
                  <div>
                      <h1 class="m-t-lg redText"><i class="fa fa-heart-o"></i></h1>
                      <h1 class="redText">
                          {{user.data.avgLikes}}
                      </h1>
                      <small><a href="/faq">Average likes / post <i class="fa fa-question-circle"></i></a></small>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="text-center small">
                      <i class="fa fa-laptop"></i> data taken from last 20 posts
                  </div>
                  <div class="flot-chart" style="height: 160px">
                      <div class="flot-chart-content" id="flot-line-chart"></div>
                  </div>
              </div>
              <div class="col-md-3 text-center">
                  <div>
                    <h1 class="m-t-lg redText"><i class="fa fa-comment-o"></i></h1>
                    <h1 class="redText">
                        {{user.data.avgComments}}
                    </h1>
                    <small><a href="/faq">Average comments / post <i class="fa fa-question-circle"></i></a></small>
                  </div>
              </div>
          </div> 
      {{/panel}}
    </div>
  </div>
</template>   

<template name='gallery'>
  <div class='col-lg-12'>
    <div class="hpanel hblue">
        <div class="panel-body tour3">
          <div class="lightBoxGallery">
              {{#each posts}}
                <div class='galleryItem'>
                  <div class='gImage'>
                      <a href="{{images.standard_resolution.url}}" title="{{caption.text}}" data-gallery=""><img src="{{images.thumbnail.url}}"></a>
                  </div>
                  <div class='gOverlay'>
                    <i class="fa fa-heart"></i> {{likes.count}}  &nbsp; <i class="fa fa-comment"></i>  {{comments.count}} 
                  </div>
                </div> 
              {{/each}}
          </div>
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
  </div>
</template> 