<template name='dashboard'>
    {{#if currentUser }}
      {{> Template.dynamic template=getBody }}
    {{else}}
      {{> landing}}
    {{/if}}
</template>
<template name='loading'></template>  
<template name='profile'>
  <div class='row'>
    <div class='col-md-8' style='padding-right: 15px;'>
      {{> myStats}}
      {{> gallery}}
      {{#if growth}}
        <div class='info'>
          {{> growthChart title='Value' today=value.today increase=value.increase thisData=value.data max=value.max symbol='pe-7s-cash'}}
          <hr>
          {{> growthChart title='Followers' today=followers.today increase=followers.increase thisData=followers.data max=followers.max symbol='pe-7s-look'}}
          <hr>
          {{> growthChart title='Engagement' today=engagement.today increase=engagement.increase thisData=engagement.data max=engagement.max symbol='pe-7s-gleam'}}
        </div>
      {{/if}}
    </div>
    <div class='col-md-4 m-b-xxl'>
      <div class='m-b-lg'>
        {{#if currentUser}}
          {{#if beenUpdated}}
          <h3>See how fast other accounts are growing. </h3>
          <a href="/search"><button class='newBtn m-b-xxl'>Search</button> </a> 
          
          {{else}}
          <h3>Looks like @{{user.username}}'s stats haven't been updated in awhile. Go ahead and ignite their profile!</h3>
           <button class='updateThisUser newBtn m-t-sm m-b-xxl'><i class="fa fa-fire"></i> Ignite </button>
          {{/if}}
        {{else}}
        <h3>Find out how much your worth on Instagram.</h3>
          <button class='newBtn insta m-b-xxl'><i class="fa fa-instagram"></i> &nbsp; Login</button>
        {{/if}}
      </div>
      {{#each posts}}
        {{> item post=this}}
      {{/each}}
      <div class='m-t-lg'>
        <h3>Check out the blog</h3>
        <a href="/blog"><button class='newBtn newBtn-outline'>Blog</button></a>
      </div>
    </div>
  </div>
</template>
<template name='myStats'>
  <div class='row'>
    <div class='col-md-2'>
       <img alt="logo" height='100' width='100' class="profile-img" src="{{user.profile_picture}}">
    </div>
    <div class='col-md-6'>
      <a href="https://instagram.com/{{user.username}}"><h5 class='username'>
        @{{user.username}}
      </h5></a>
      <p><a href="/edit"><i class="fa fa-edit"></i> Edit</a></p>
      <p>joined {{joined}}</p>
      <p>
         {{user.bio}}
      </p>
    </div>
    <div class='col-md-4'>
      <h3><span class='font-extra-bold text-success'>${{user.data.postValue}}</span><small> per post</small></h3>
      <p>Followers: {{user.stats.followed_by}}</p>
      <p>Average Likes: {{user.data.avgLikes}} per post</p>
    </div>
  </div>
  <br>  
</template> 

<template name='growthChart'>
  <div class="hpanel">
    <div class="stats-title">
      <h4>{{title}}</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-center">
        <h3 class=" m-t-sm"><i class="{{symbol}} fa-2x"></i></h3>
        <h3 class="">
            {{today}}
        </h3>
      </div>
      <div class="col-md-9">
          <div class="text-center small ">
              {{increase}}% growth
          </div>
          <div class="flot-chart" style="height: 160px">
              <div id='{{title}}' data-thisData="{{thisData}}" data-max="{{max}}" class="flot-chart-content"></div>
          </div>
      </div>  
    </div> 
  </div> 
</template>  

<template name='gallery'>
  <div id='recentPosts'>
  <div class="stats-title">
    <h4>Recent Posts</h4>
  </div>
  <div class="row">
    {{#each posts}}
      <a href="https://instagram.com/{{user.username}}"><div class='col-md-3'>
            <div><img src="{{images.thumbnail.url}}"></div>
        <div>
          <i class="fa fa-heart"></i> {{likes.count}}  &nbsp;  &nbsp; <i class="fa fa-comment"></i>  {{comments.count}} 
        </div>
      </div></a>
    {{/each}}
  </div>
  </div>
  <hr>
</template> 