.messagePanel {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
}

.messagePanel h5 {
    width: 90%;
    line-height: 110%;
    margin-bottom: 25px;
}

.newBtn {
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 15px 25px;
    font-size: 15px;	
    width: 100%;
    margin: auto;
    background: #3498db;
    font-weight: 700;
    text-shadow: none;
    font-size: 16px;
    color: #fff;
    transition: 0.5s all ease;
    margin-right: 2px;
    border: none;
}

.newBtn-outline {
    border: 1px solid #3498db;
    background-color: #fff;
    color: #3498db;
}

.newBtn:hover {
   opacity: 0.9;
}


.hideMe {
	display: none;
	transition: 0.5s all ease;
}

.showMe {
	display: block;
    transition: 0.5s all ease;
}

.sendMyMessage {
	position: absolute;
	bottom: 10px;
    right: 12px;
    left: 15px;
}

.summerNote {
	position: absolute;
	bottom: 60px;
	width: 96%;
	margin: auto;
	background-color: #fff;
    margin: auto;
    line-height: 1.2rem;
    border: 2px solid #E0E0E0;
    color: #3d3c40;
    -webkit-appearance: none;
    min-height: 42px!important;
    padding: 9px 40px 9px 8px;
    max-height: 160px!important;
    overflow: scroll;
    resize: none!important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px;
}

.messageUser {
	padding-left: 15px;
}

.messageUser a h5 {
	padding-left: 10px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.messageUser a h5:hover {
	background-color: #3fa6ea;
}

.username {
	font-weight: 700;
	color: #3498db;
    pointer-events: none;
    display: inline;
    line-height: 25px;
}

.white {
	color: #fff;
}	

.green {
	background-color: #62cb31;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	display: inline-block;
}

.padding-sm {
	padding: 15px;
}

.red {
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: #c0392b;
	display: inline-block;
}
.searchHeader {
	min-height: 2.75rem;
    color: #555459;
    width: 100%;
    position: relative;
    z-index: 50;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    padding: 1rem .75rem;
    background: #f7f7f7;
    border-bottom: none;
}

.searchHeader h4 {
	text-transform: uppercase;
}
.slackList {
	background-color: #3498db;
	position: absolute;
	left: 0;
	top: 55px;
	bottom: 0;
	width: 20%;
	overflow: scroll;
	overflow-x: hidden; 
}

.slackList h4 {
	margin-top: 25px;
	text-transform: uppercase;
	padding-left: 10px;
}

.slackList h5 {
	padding-left: 10px;
}

.userCard {
	border: 1px solid transparent;
	cursor: pointer;
	padding: 5px;
	height: auto;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.userCard:hover {
    background-color: #f1f1f1;
	transition: 1s all ease;
}

.profile-img {
	border-radius: 30px;
    border: 2px solid #fff;
}

.searchHeader:hover {
	background-color: #3498db;
	color: #fff;
	cursor: pointer;
	transition: 0.5s all ease;
}

.slackMessages {
	height: 475px;
	overflow: scroll;
	overflow-x: hidden; 
}

.slackChat {
    position: absolute;
    right: 30%;
    left: 20%;
    top: 0;
    bottom: 0px;
    width: 50%;
    background-color: #fff;
    overflow: scroll;
    overflow-x: hidden; 
}

.analytics {
	overflow: scroll;
}

.slackInfo {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    width: 30%;
    overflow: scroll;
    background-color: #fff;
    overflow-x: hidden;
}

.value-text {
 font-size: 3em;
}

.redText {
 color: #c0392b;
}

.blueText {
	color: #3498db;
}

.purpleText {
	color: #9b59b6;
}

.galleryItem {
	display: inline-block;
}

.backRed {
	background-color: #c0392b;
}

.backBlue {
	background-color: #3498db;
}

.backPurple {
	background-color: #9b59b6;
}

.gOverlay {
  color: white;
  position: relative;
  bottom: 11px;
  max-width: 150px;
  left: 9px;
  background-color: #3498db;
}

.grid-item {
	min-width: 300px;
	width: 20%;
}

.card-row {
	height: 325px;
}

@media (max-width: 480px) {
	.card-row {
		height: 400px;
	}
}