.value-text {
 font-size: 3em;
}

.redText {
 color: #c0392b;
}

.blueText {
	color: #517fa4;
}

.purpleText {
	color: #9b59b6;
}

.galleryItem {
	display: inline-block;
}

.backRed {
	background-color: #c0392b;
}

.backBlue {
	background-color: #517fa4;
}

.backPurple {
	background-color: #9b59b6;
}

.gOverlay {
  color: white;
  position: relative;
  bottom: 11px;
  max-width: 150px;
  left: 5px;
}

.grid-item {
	min-width: 300px;
	width: 20%;
}

.card-row {
	height: 325px;
}

@media (max-width: 480px) {
	.card-row {
		height: 400px;
	}
}