.value-text {
 font-size: 5em;
}

.redText {
 color: #3498DB;
}

.textYellow {
	color: #3498DB;
}

.textOrange {
	color: #3498DB;
}

.galleryItem {
	display: inline-block;
}

.gOverlay {
  background-color: #3498DB;
  color: white;
  position: relative;
  bottom: 11px;
  max-width: 150px;
  left: 5px;
}

.grid-item {
	min-width: 300px;
	width: 20%;
	float: left;
}