<template name='dashboard'>
    {{#if currentUser }}
      {{> profile}}
    {{else}}
      {{> hey}}
    {{/if}}
</template>

<template name='loading'>
  {{> spinner}}
</template> 

<template name='profile'>
  <div class='myContent'>
    <div class='row m-t-xs'>
      <div class='col-md-2 col-lg-2'>
        <div class='slackList'>
          
        </div>
      </div>
      <div class='col-md-6'>
        <div class='slackChat'>
          {{> chats}}
        </div>
      </div>
      <div class='col-md-4'>
        <div class='slackInfo'>
        <div class='row '>
          <div class='col-lg-7'>
            {{> myStats}}
          </div>
          <div class='col-lg-5'>
             <div class="hpanel">
              <div class="stats-title">
                <h4>Location <small class='pull-right '>{{user.other.city}}, {{user.other.country}}</small></h4>
              </div>
              <hr>
              <div class="stats-title">
                <h4>Rank <small class='pull-right '>{{user.data.rank}}</small></h4>
              </div>
              <hr>
              <div class="stats-title">
                  <h4>Joined <small class='pull-right '>{{joined}}</small></h4>
              </div>
              <hr>
              <div class="stats-title">
                <h4>Followers <small class='pull-right '>{{stats.followed_by}}</small></h4>
              </div>
              <hr>
              <div class="stats-title">
                <h4>Follower Ratio <small class='pull-right '>{{ratio}}</small></h4>
              </div>
<!--          <hr>
              <div class="stats-title">
                <h4>Times Viewed <small class='pull-right '>20</small></h4>
              </div>
              <hr>
              <div class="stats-title">
                <h4>Post Frequency <small class='pull-right '>daily</small></h4>
              </div> -->
             </div>
          </div>
        </div>
        {{#if growth}}
          <hr>
          {{> valueGrowth}}  
          <hr>    
          {{> followerGrowth}} 
          <hr>
          {{> engagementGrowth}}
        {{/if}}
          <hr>
         {{> gallery}}
        </div>
      </div>
    </div> 
  </div>   
</template>
 
<template name='myStats'>
  <div class="hpanel {{panelColor}}">
    <div class="pull-right text-right ">
      <small>This Instagram is worth</small>
      <h1 class='font-extra-bold text-success value-text'>${{user.data.postValue}}</h1>
      <small><a href="/faq">per post <i class="fa fa-question-circle"></i></a></small>

    </div>
    <img alt="logo" height='100' width='100' class="img-circle m-b" src="{{user.profile_picture}}">
    <h3>@{{user.username}}</h3>
    <p>
       {{user.bio}}
    </p> 
  </div>            
</template> 

<template name='engagementGrowth'>
  <div class="hpanel">
    <div class="stats-title">
      <h4>Engagement</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-center">
        <h3 class=" m-t-sm"><i class="pe-7s-gleam fa-2x"></i></h3>
        <h3 class="">
            {{lastWeek}}
        </h3>
        <small><a href="/faq">current <br> <i class="fa fa-question-circle"></i></a></small>
      </div>
      <div class="col-md-8">
          <div class="text-center small ">
              {{increase}}% change week to week
          </div>
          <div class="flot-chart" style="height: 160px">
              <div class="flot-chart-content" id="engagement-chart"></div>
          </div>
      </div>  
      <div class="col-md-2 text-center">
          <div>
            <h3 class=" m-t-sm"><i class="pe-7s-gleam fa-2x"></i></h3>
            <h3 class="">
                {{today}}
            </h3>
            <small><a href="/faq">last week <br><i class="fa fa-question-circle"></i></a></small>
          </div>
      </div>
    </div> 
  </div> 
</template>

<template name='followerGrowth'> 
  <div class="hpanel">
    <div class="stats-title">
      <h4>Followers</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-center">
        <h3 class=" m-t-sm"><i class="pe-7s-look fa-2x"></i></h3>
        <h3 class="">
            {{lastWeek}}
        </h3>
        <small><a href="/faq">current <br> <i class="fa fa-question-circle"></i></a></small>
      </div>
      <div class="col-md-8">
          <div class="text-center small ">
              {{increase}}% change week to week
          </div>
          <div class="flot-chart" style="height: 160px">
              <div class="flot-chart-content" id="follower-chart"></div>
          </div>
      </div>  
      <div class="col-md-2 text-center">
          <div>
            <h3 class=" m-t-sm"><i class="pe-7s-look fa-2x"></i></h3>
            <h3 class="">
                {{today}}
            </h3>
            <small><a href="/faq">last week <br><i class="fa fa-question-circle"></i></a></small>
          </div>
      </div>
    </div> 
  </div>
</template> 

<template name='valueGrowth'> 
  <div class="hpanel">
    <div class="stats-title">
      <h4>Value</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-center">
        <h3 class=" m-t-sm"><i class="pe-7s-cash fa-2x"></i></h3>
        <h3 class="">
            {{lastWeek}}
        </h3>
        <small><a href="/faq">current <br> <i class="fa fa-question-circle"></i></a></small>
      </div>
      <div class="col-md-8">
          <div class="text-center small ">
              {{increase}}% change week to week
          </div>
          <div class="flot-chart" style="height: 160px">
              <div class="flot-chart-content" id="value-chart"></div>
          </div>
      </div>  
      <div class="col-md-2 text-center">
          <div>
            <h3 class=" m-t-sm"><i class="pe-7s-cash fa-2x"></i></h3>
            <h3 class="">
                {{today}}
            </h3>
            <small><a href="/faq">last week <br><i class="fa fa-question-circle"></i></a></small>
          </div>
      </div>
    </div> 
  </div>
</template>    

<template name='analytics'>
  <div class="hpanel">
    <div class="stats-title">
      <h4>Likes and Comments</h4>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2 text-center">
        <h3 class=" m-t-sm"><i class="fa fa-heart-o"></i></h3>
        <h3 class="">
            {{user.data.avgLikes}}
        </h3>
        <small><a href="/faq">avg likes <br> <i class="fa fa-question-circle"></i></a></small>
        <h4> {{user.data.likesConsist}} <small>SD</small></h4>
      </div>
      <div class="col-md-8">
          <div class="text-center small ">
              data taken from last 20 posts
          </div>
          <div class="flot-chart" style="height: 160px">
              <div class="flot-chart-content" id="flot-line-chart"></div>
          </div>
      </div>  
      <div class="col-md-2 text-center">
          <div>
            <h3 class=" m-t-sm"><i class="fa fa-comment-o"></i></h3>
            <h3 class="">
                {{user.data.avgComments}}
            </h3>
            <small><a href="/faq">avg comments <i class="fa fa-question-circle"></i></a></small>
            <h4 class="">
               {{user.data.commentsConsist}} <small>SD</small>
            </h4>
          </div>
      </div>
    </div> 
  </div>
</template>   

<template name='gallery'>
  <div class="lightBoxGallery">
    {{#each posts}}
      <div class='galleryItem'>
        <div class='gImage'>
            <a href="{{images.standard_resolution.url}}" title="{{caption.text}}" data-gallery=""><img src="{{images.thumbnail.url}}"></a>
        </div>
        <div class='gOverlay {{backColor}} '>
          <i class="fa fa-heart"></i> {{likes.count}}  &nbsp; <i class="fa fa-comment"></i>  {{comments.count}} 
        </div>
      </div> 
    {{/each}}
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
  </div>
</template> 