<template name='questions'>
	<div class='row'>
		<div class='col-md-8'>
			<h1 class='underline'>Questons</h1>
			{{#each questions}}
				{{> question}}
			{{/each}}
		</div>
		<div class='col-md-4 messagePanel'>
	      {{#if currentUser}}
	      		<p><a href="/">Profile</a></p>
	          <h5 class='m-t-md'>Want to boost your Instagram account? Get advice from one of our Instagram experts.</h5>
				<h5>Anyone can ask a question.</h5>
				<h5>Anybody can answer.</h5>
				<h5>The best answers are voted on and rise to the top.</h5>
				<h5>Hearts are worth points!</h5>
	          {{> questionForm}}
	      {{else}}
	      	<p class='pull-right m-t-lg'><a href="/">Home</a></p><br>
	      	<h5 class='m-t-md'>Ignition is a question and answer site for professional and enthusiast Instagrammers. It's 100% free.</h5>
	      	<h5 class='m-t-md'>Login with your Instagram to post a question.</h5>
	        <button class='newBtn insta'><i class="fa fa-instagram"></i> &nbsp; Login</button>
	      {{/if}}
		</div>
	</div>
</template>	

<template name='question'>
	<div class='questionStyle'>
	<div class='row'>
		<div class='col-md-1 text-center col-xs-6'>
			<h3 class='blueText'>
				{{votes}}
			</h3>
			<h3><small>hearts</small></h3>
		</div>
		<div class='col-md-2 text-center col-xs-6'>
			<h3 class='blueText'>
				{{answers}}
			</h3>
			<h3><small>answers</small></h3>
		</div>
		<div class='col-md-1'>
			<h3 class=''><img style='border-radius: 60px;' height='60' width='60' src="{{user.profile.profile_picture}}"></h3>
		</div>
		<div class='col-md-8'>
			<a href="/question/{{_id}}"><h3>
				{{text question}}
			</h3></a>
			<h3><small>Asked {{time}} by <a href="{{pathFor 'instagrammer' _id=user.profile.username}}">@{{user.profile.username}}</a></small></h3>
		</div>
	</div>
	</div>
</template>	

<template name='questionPage'>
	<div class='row'> 
		<div class='col-md-8'>
			<div class='row'>
				<div class='col-md-2'>
					<h3>
						<img style='border-radius: 100px;' height='100' width='100' src="{{user.profile.profile_picture}}">
					</h3>
				</div>
				<div class='col-md-9'>
					<h3>{{question}}</h3>
				</div>
			</div>
			{{> answerSection}}
		</div>
		<div class='col-md-4 messagePanel'>
			{{#if currentUser}}
			<p><a href="/">Profile</a></p><br><br>
			{{else}}
			<p><a href="/">Home</a></p><br><br>
			{{/if}}
			<p><a href="{{pathFor 'questions'}}">Questions</a></p>
			<br>
			<h5>Anybody can answer.</h5>
			<h5>Anyone can heart an answer as much as they want.</h5>
			<h5>Hearts are worth points!</h5>
			<h5>The answers with the most hearts rise to the top.</h5>
		</div>
	</div>
</template>	

<template name='questionForm'>
  <form id='question' class="form-horizontal" role="form" method="post" action="#"  data-snap-ignore="true">
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Question</label>
          </div>
          <div class="col-sm-12">
              <textarea id='text' class="form-control" rows="3" name="message"  placeholder="Your question here..." required></textarea>
          </div>
      </div>
      <br>
      <div class="form-group">
          <div class="col-sm-12">
              <input id="submit" name="submit" type="submit" value="Post Question" class="newBtn">
          </div>
      </div>
  </form>
</template>