<template name='answers'>
	<h3 class='underline'>{{numberOf}}</h3>
	<div class='m-b-lg'>
		{{#each answers}}
			<div class='underline'>
				{{> answer}}
			</div>
		{{/each}}
	</div>
</template>	

<template name='answer'>
	<div class='row'>
		<div class='col-md-1'>
			<h1 class='text-center blueText'>{{score}}</h1>
		</div>
		<div class='col-md-1 text-center'>
			{{#if currentUser}}
				{{#if thisUser}}
				<p><button class='newBtn mySearch'><i class="fa fa-search fa-2x"></i></button></p>
				{{else}}
				<p><button class='newBtn vote'><i class="fa fa-heart fa-2x"></i></button></p>
				{{/if}}
			{{else}}
			<p><button class='newBtn insta'><i class="fa fa-heart fa-2x"></i></button></p>
			{{/if}}
		</div>
		<div class='col-md-1'>
			<img height='62' width='62' style='border-radius: 62px;' src="{{user.profile.profile_picture}}">
		</div>
		<div class='col-md-8'>
			<h5 style='margin-top: 0px;'>{{answer}}</h5>
			<h5 class='pull-right m-t-sm'>
				<small>
				<a href="{{pathFor 'instagrammer' _id=user.profile.username}}">@{{user.profile.username}}</a> answered {{time}}
				</small>
			</h5>
		</div>
	</div>
</template>	

<template name='answerForm'>
	<div class='row'>
		<div class='col-md-2'>

		</div>
		<div class='col-md-10'>
			<h5>Type your answer here...</h5>
			<textarea id='answer'></textarea>
			<div class='row'>
				<div class='col-md-6 col-md-offset-6 m-t-sm'>
					<button class='newBtn answerQuestion'>Submit Answer</button>
				</div>
			</div>
		</div>
	</div>
</template>	

<template name='answerSection'>
	{{#if currentUser}}
	<div class='row'>
		<div class='col-md-12'>{{> answerForm}}</div>
	</div>
	{{/if}}
	<div class='row'>
	 	{{> answers}}
	</div>
</template>	