<template name='newpost'>
	<div class='row'>
		<div class='col-md-12'>
			<h1 class='m-b-sm'>
				New Post
			</h1>
			<p class='m-b-lg'>Write something that is meaningful. Something that will inspire someone to do something important.</p>
			<div class="hpanel blog-article-box">
                <div class="panel-heading">
                	<div style='height: auto;' class="col-sm-12 summernote title">
                		<h1>Write your title here</h1>
                	</div>
                    <div style='height: auto;' class="col-sm-12 summernote tagline">
                		<div class="text-muted small">write your tagline here</div>
                	</div>
                    <div class="text-muted small">
                        Written by <a href="/{{currentUser.profile.username}}"><span class="font-bold">@{{currentUser.profile.username}}</span></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div style='height: auto;' class="col-sm-12 summernote content">
                        <p>
                           I work for a startup called <a href="http://www.hashtagpaid.com">#paid</a> and we are building a marketplace for Instagram influencers. Believe it or not, if your famous on Instagram, there are businesses willing to pay you to post about them. I’m sure you’ve already seen these types of ads in your feed but if you haven’t here’s an example,
                        </p>
                        <br/>
                        <blockquote>
                            <p><a href="https://instagram.com/p/4zxwt8t5yK/">Tilt ad created by @torriwebster.</a></p>
                        </blockquote>
                        <br/>
                    </div>	
                    <h1 class='pull-right'><a href="/{{currentUser.profile.username}}">@{{currentUser.profile.username}}</a></h1>
                </div>
            </div>
            <div class='row m-b-lg'>
	            <div class='col-md-6'>
	         		<a href="/blog"><button class="newBtn newBtn-outline">Back to Blog</button></a>   	
	            </div>
	            <div class='col-md-6'>
		            <button id='submitPost' class="newBtn" type="submit">Submit Post</button>
	            </div>
            </div>
		</div>
	</div>
</template>	