<template name='proposal'>
  <h5 class='m-t-md'>Would you like @{{thatUser.profile.username}} to feature you? </h5>
  <form id='createProposal' class="form-horizontal" role="form" method="post" action="#"  data-snap-ignore="true">
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Introduction</label>
          </div>
          <div class="col-sm-12 m-t-xs">
              <input type="text" class="form-control" id="intro" name="name" placeholder="Say hi and a bit about your business" value="">
          </div>
      </div>
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Game Plan</label>
          </div>
          <div class="col-sm-12 m-t-xs">
              <textarea type="text" class="form-control" id="plan" name="name" placeholder="Maybe" value="Anything special you would like @{{thatUser.profile.username}} to do?"></textarea>
          </div>
      </div>
      <div class="form-group">
          <div class='col-sm-12'>
            <label for="name" class="control-label"  style=''>Perks</label>
          </div>
          <div class="col-sm-12 m-t-xs">
              <input type="text" class="form-control" id="perks" name="name" placeholder="What's in it for @{{thatUser.profile.username}}?" value="">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-12">
              <input id="submit" name="submit" type="submit" value="Send @{{thatUser.profile.username}} a message" class="newBtn">
          </div>
      </div>
  </form>
</template>