<template name='landingPage'>
	{{#if currentUser }}
	  {{> header }}
	  {{> navigation }}
	  <div class='wrapper'>
      {{> profile}}
    </div>
    {{else}}
      {{> hey}}
    {{/if}}
</template>	

<template name="hey">
  <div class='theLanding'>
  <div class='content' >
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h1 class=''>&nbsp;</h1>
        <h2 class='title'><img src="logo.png"></h2>
        <h3 class='tagline' style='color: white'>Discover how much <span style=' text-decoration: line-through;'>your</span> you're worth on Instagram.</h3>    
        <h1 class='m-t-sm'><button class='insta btn btn-success btn-lg'>Get Ignited</button></h1>
      </div>
    </div>
  </div>
  </div>
  {{> about}}
</template>

<template name='bye'>
	<button>Say goodbye</button>
</template>

<template name='edit'>
  <div class='content'>
    <div class='row'>
      <div class='col-lg-4 col-md-6 col-lg-offset-1 col-lg-offset-1 m-t-xxl'>
        {{> instaWorth}}
      </div>
      <div class='col-lg-5 col-md-5 m-t-xxl'>
        <h3 class='text-center m-b-lg'>Update your Profile</h3>
        {{> updateUser}}
      </div>
    </div>
  </div>
</template>  

<template name='updateUser'>
  <form id='update' class="form-horizontal">
    <div class="form-group"><label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10"><input id='email' type="email" value='{{user.other.email}}' class="form-control" required></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Birthdate</label>
        <div class="col-sm-10"><input id="datapicker2" type="text" value="{{user.other.age}}" class="form-control"></div>
    </div> 
    <div class="form-group"><label class="col-sm-2 control-label">City</label>
        <div class="col-sm-10"><input id='city' type="text"  value='{{user.other.city}}' class="form-control"></div>
    </div> 
    <div class="form-group"><label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10"><input id='country' type="text" value='{{user.other.country}}' class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10"><select id='gender' class="form-control" value='{{user.other.gender}}' name="account">
            <option>male</option>
            <option>female</option>
        </select>
        </div>
    </div> 
      <div class="form-group"><label class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-10">
          <button class="btn btn-success" data-dismiss="modal">Update</button>
        </div>
    </div>         
  </form>
</template> 

<template name='instaWorth'>
      <div class="hpanel hblue">
          <div class="panel-body tour1">
              <div class="pull-right text-right">
                <small>Your Instagram is worth</small>
                <h1 class='font-extra-bold text-success value-text'>${{user.data.postValue}}</h1>
                <small><a href="/faq">per post <i class="fa fa-question-circle"></i></a></small>
    
              </div>
              <img alt="logo" class="img-circle m-b" src="{{user.profile_picture}}">
              <h3><a href="">{{user.full_name}}</a></h3>
              <div class="text-muted font-bold m-b-xs"></div>
              <p>
                 {{user.bio}}
              </p>
          </div>
          <div class="panel-body tour7">
            <p>A {{age}} year old {{gender}} living in {{city}}, {{country}}.</p>
          </div>
          <div class="panel-footer contact-footer">
              <div class="row tour2">
                  <div class="col-md-4 border-right">
                      <div class="contact-stat"><span>Posts: </span> <strong>{{user.stats.media}}</strong></div>
                  </div>
                  <div class="col-md-4 border-right">
                      <div class="contact-stat"><span>Followers: </span> <strong>{{user.stats.followed_by}}</strong></div>
                  </div>
                  <div class="col-md-4">
                      <div class="contact-stat"><span>Following: </span> <strong>{{user.stats.follows}}</strong></div>
                  </div>
              </div>
          </div>
      </div>
</template>   