<template name='landingPage'>
	  {{#if currentUser }}
      {{> infiniteSearch}}
    {{else}}
      {{> landing}}
    {{/if}}
</template>	

<template name="landing">
  <div class='row maxAttack text-center'>
    <div class='thisText padding-sm'>
      <h1 class='white'>#ignition</h1>
      <h4 class='white m-t-lg'>Join a Slack community for people who love Instagram</h4>
      <form id='slackForm'>
        <div class='row m-t-xxxl padding-sm'>
          <div class='col-md-2 col-md-offset-4 m-b-lg'>
            <input id='firstEmail' type='text' class='form-control' placeholder='Email' style='height: 52px;' required>
          </div>
          <div style='z-index: 5;' class='col-md-2'>
            <input type='submit' class='newBtn' value='Request Invite'>
          </div>
        </div>
      </form>
    </div>
    <div class='overlay'></div>
  </div>
  <div class='algor text-center m-b-xxxl'>
    <h1 class='m-b-xxxl'>Based on your followers, likes and comments<br>we calculate the value of your Instagram account</h1>
    <div class='row  m-t-xxxl'>
      {{#each users}}
        <div class='col-md-3 text-left'>
          {{> thisUser}}
        </div>
      {{/each}}
    </div>
    <div class='row m-t-xl m-b-lg'>
      <div class='col-md-4 col-md-offset-4'><a href="/search"><button class='newBtn'><i class="fa fa-search"></i> &nbsp; Search</button></a></div>
    </div>
  </div>
  <h1 class='blueSpacer'></h1>
  <div class='theAds'>
    <div class='row m-b-xl'>
      <div class='col-md-6'>
        <div class='phone'>
          <div id='slider'>
            <div class='ad one'></div>
            <div class='ad two'></div>
            <div class='ad three'></div>
            <div class='ad four'></div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <h1 class='m-t-xxxl'>Everyday, people on Instagram are getting paid to create beautiful ads</h1>
        <h3 class='m-t-lg'> Get advice on how to improve the value of your account and find out what it takes to join <a href="">#ThePaidCrew</a>. </h3>
        <div class='row m-t-lg'>
        <form id='slack'>
          <div class='row m-t-lg padding-sm'>
            <div class='col-md-6 m-b-lg'>
              <input id='email' type='text' class='form-control' placeholder='Email' style='height: 52px;' required>
            </div>
            <div style='z-index: 5;' class='col-md-6'>
              <input type='submit' class='newBtn' value='Request Invite'>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
      <div class='row  m-t-xxxl'>
        <div class='col-md-1 col-md-offset-4 col-xs-3'>
          <a href="https://instagram.com/hashtagpaid"><h1><i class="fa fa-instagram blueText"></i></h1></a>
        </div>
        <div class='col-md-1 col-xs-3'>
          <a href="https://www.facebook.com/hashtagpaid"><h1><i class="fa fa-facebook blueText"></i></h1></a>
        </div>
        <div class='col-md-1 col-xs-3'>
          <a href="https://twitter.com/hashtagpaid"><h1><i class="fa fa-twitter blueText"></i></h1></a>
        </div>
        <div class='col-md-1 col-xs-3'>
          <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>
      </div>
    </div>
</template>



 