<template name='chats'>
  {{#panel panelClass="stats tour5" color="hblue"}}
      <div class="stats-title">
        <h4><a href="/faq">Chats <i class="fa fa-question-circle"></i></a></h4>
        <br>
        {{#if chatCount}}
        <p>You have 0 chats. You know what to do. </p>
        {{/if}}
      </div>
      <div class='row'>
        {{#if currentUser}}
          {{#each chats}}
          <div class='col-lg-6'>
            {{> chat}}
          </div>
          {{/each}} 
        {{else}}
            <p> No chats yet. Sign up to chat with other Instagrammers.</p> 
        {{/if}}         
      </div>
  {{/panel}}    
</template>  

<template name='chat'>
  <div class="hpanel hblue">
      <div class="panel-body">
          <div class="media social-profile clearfix">
              <a class="pull-left">
                  <img src="{{thisUser.profile.profile_picture}}" class='profileImg' alt="profile-picture">
              </a>
              <button class='pull-right btn btn-danger btn-xs stopChat' style='min-width: 50px;'>Stop Chat</button>
              <div class="media-body">
                  <a href="/{{thisUser.profile.username}}"><h5>@{{thisUser.profile.username}}</h5></a>
                  <small class="text-muted">{{time}}</small>
              </div>
          </div>

          <div class="social-content m-t-md">
              {{thisUser.profile.bio}}
          </div>
      </div>
      <div class="panel-footer" >
        <div class="social-form clearfix m-b-sm">
              <input style='width: 77%; float: left; margin-right: 5px;' class="form-control sendChat" placeholder="Your message">
              <button style='min-width: 0px; min-width: 0px; height: 33px;' class='btn btn-success btn-sm sendbtn'>Send</button>
        </div>
        <div  style='max-height: 200px; overflow: scroll;'>
        {{#each messages}}
          <div class="social-talk">
              <div class="media social-profile clearfix">
                  <a class="pull-left">
                      <img src="{{user.profile.profile_picture}}" alt="profile-picture">
                  </a>
                  <div class="media-body">
                      <span class="font-bold">{{user.profile.username}}</span>
                      <small class="text-muted">{{ago}}</small>
                      <div class="social-content">
                          {{text}}
                      </div>
                  </div>
              </div>
          </div>
        {{/each}}
        </div>
      </div>
  </div>  
</template>  
