<template name='leaderboard'>
	<div class="content">
        <div class="row">
            <div class='col-lg-3 col-md-3 col-sm-3 clearfix'>
                {{#if currentUser}}
                {{else}}
                <div id='signMeUp' class="hpanel hbggreen contact-panel" >
                    <div class="panel-body text-center">
                        <h3 class='font-light'>Login with Instagram</h3>
                    </div>
                </div>               
                {{/if}}               
                {{> explore}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">   
                <div class='row'> 
                    <div class='hpanel'>
                        <div class='panel-body'>
                        <div class='row m-t-sm'>
                            <div class='col-lg-4 text-center'>
                                <button id='personal' class='btn btn-sm backBlue' style='color: white; '>Personal</button>
                            </div>
                            <div class='col-lg-4 text-center'>
                                <button id='animal' class='btn btn-sm backPurple' style='color: white; '>Animal</button>
                            </div>
                            <div class='col-lg-4 text-center'>
                                <button id='business' class='btn btn-sm backRed' style='color: white; margin-right: 5px;'>Business</button>
                            </div>
                        </div>
                        <p class='m-t-lg'>Search by handle or location.</p>                        
                        {{> tabular table=TabularTables.Users selector=selector }}
                        </div> 
                    </div> 
                </div>
            </div>
            <div class='col-lg-3'>
                <div class="hpanel hblue">
                    <div class="panel-body">
                    {{> activeUsers}} 
                    <br>
                    {{> recentlyAdded}}   
                    <br>
                    {{> topAccounts}}
<!--                     <br>
                    {{> featuredAccounts}} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>	 

<template name='valueChart'>
        <h5>Distribution</h5>
        <br>
        <div>
            <canvas id="singleBarOptions" height="250" width='250' ></canvas>
        </div>
</template>    

<template name='userDescription'>
    <div class="hpanel {{panelColor}}">  
        <div class="panel-body" style='padding: 5px 5px 7px 5px;'>
            <div class="media">
                <div class="media-image pull-left">
                    <a href="{{id}}"><img class='profileImg' src="{{img}}" alt="profile-picture"></a>
                </div>
                <div class="media-body text-left">
                    <div class='row'>
                        <div class='col-lg-7 col-md-12 col-sm-12'>
                            <a href="{{id}}">
                                <h5 style='line-height: 25px;'>
                                    <span class='text-success'>${{value}}</span>
                                    {{#if online}}
                                    <span class='label label-success' style='position: relative; bottom: 3px;'>Online</span>
                                    {{else}}
                                    <span class='label backRed' style='position: relative; bottom: 3px;'>Offline</span>
                                    {{/if}}
                                    <strong>@{{handle}}</strong> <br>
                                    {{#if userInfo}}
                                        <small>{{user.city}}, {{user.country}}</small>
                                    {{/if}}
                                </h5>
                            </a>
                        </div>
                        <div class='col-lg-5 col-md-12 col-sm-12' style='line-height: 35px;'>
                            <div class='pull-right'>
                            {{#if currentUser}}    
                                {{#if showRequest}}
                                <button class='btn btn-success btn-sm request'>Request Chat</button>
                                {{/if}}
                            {{else}}
                                <a href="{{id}}"><button class='btn btn-success btn-sm'>View Profile</button></a>
                            {{/if}}
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>  

<template name='explore'>
    <div class="hpanel hblue">
        <div class="panel-body">
            <h3>Filters</h3>
            <br>
            <h5>Followers</h5>
            <br>
            <p>Instagrammers that have <strong>LESS</strong> then <strong>{{flow1}} followers.</strong></p>
            <input id="followingInput" type="text" name="demo1" value="{{flow2}}">
            <br>
            {{#if currentUser}}
                {{> valueChart}}
            {{/if}}
            <h5>Value</h5>
            <br>
            <p>Instagrammers worth <strong>MORE</strong> then <strong>${{value}}</strong>.</p>
            <input id="valueInput" type="text" name="demo1" value="{{value}}">
        </div>
    </div>    
</template> 

<template name='activeUsers'>
    <h5>Currently Online</h5>
    <br>
    <div class='row'>
        {{#each users}}
            {{> userDescription}}
        {{/each}}
    </div>     
</template>  

<template name='recentlyAdded'>
    <h5>Recently Added</h5>
    <br>
    <div class='row'>
        {{#each users}}
            {{> userDescription}}
        {{/each}}
    </div>     
</template>   

<template name='topAccounts'>
    <h5>Most Valuable</h5>
    <br>
    <div class='row'>
        {{#each firstFive}}
            {{> userDescription}}
        {{/each}}
    </div>   
</template>           

<template name='featuredAccounts'>
    <h5>Featured</h5>
    <br>
    <div class='row'>
        {{#each randos}}
            {{> userDescription}}
        {{/each}}
    </div>  
</template>    

    
   