<template name='edit'>
  <div class='myContent'>
    <div class='row'>
      <h3 class='font-extra-bold text-center m-t-lg'>Your Instagram is worth <br><span class='text-success'>${{currentUser.profile.data.postValue}}</span> per post</h3>
      <h5 class='text-center m-t-lg'> Now it's time to start getting paid!</h5>
      <div class='m-t-sm'>
       {{> updateUser}}
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</template>  

<template name='updateUser'>
  <div class='col-md-4 col-md-offset-4' data-snap-ignore="true">
    {{#if currentUser}}
    <form id='update' class="form-horizontal">
      <h4 style='padding-left: 0px;'>Email</h4>
      <div class="form-group">
          <div class="text-center"><input id='email' type="email" value='{{user.other.email}}' class="form-control input-lg" placeholder='Email' required></div>
      </div>
      <h4 class='m-t-sm' style='padding-left: 0px;'>Location</h4>
      <div class="form-group">
          <div class="text-center"><input id='location' type="text" value='{{user.other.city}}' class="form-control input-lg" placeholder='Location'></div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <p><button class="newBtn">Update</button></p>
        </div>
      </div>         
    </form>
    {{else}}
    <h2 class='text-center'>Opps, looks like something went wrong when you tried to login. </h2>
    {{/if}}
  </div>
</template> 
  